{% extends 'base.html.twig' %}

{% block content %}
    <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold mb-4">500 - Internal Server Error</h1>
        <p>{{ message }}</p>
    </div>
{% endblock %}
